---
layout: default
---

/! Email section
/! ---------------------------

.section.section--content.email

	.section__inner-wrapper

		a.breadcrumb href="/" ‹ Back to the home page

		h2 Stay informed
		p
			' Sign up for our email list and we'll send you updates about the
			' wedding.
			{% include mailchimp.html %}

		a.breadcrumb href="/" ‹ Back to the home page
