---
layout: default
---

/! Hero section
/! ---------------------------

.section.section--hero.intro.js--hero-resize
	.section__inner-wrapper

		.title-container
			.title-container__inner
				img src="/img/coachella-500.jpg"
				h1.section--hero__title data-text="Save the date!"
					' Save the date!
				p.section--hero__subtitle Jordan and Justin are getting married
				p.section--hero__subtitle September 24th, 2016
	img.leaf.leaf--1 src="/img/leaf.png"
	img.leaf.leaf--2 src="/img/leaf.png"
	img.leaf.leaf--3 src="/img/leaf.png"

/! Story section
/! ---------------------------

.section.section--content.story

	.section__punchout

	.section__inner-wrapper

		h2 Here's am awesome title

		p
			| Put a bird on it biodiesel vice, literally ennui forage tacos you probably haven't heard of them kinfolk celiac DIY blog quinoa. Cliche ramps hella ugh, schlitz before they sold out marfa fanny pack wolf letterpress helvetica. Retro VHS cray, twee flannel locavore cred asymmetrical meggings keytar truffaut poutine venmo. pressed venmo locavore tofu organic. Microdosing leggings ennui tacos, kitsch trust fund pickled. Fingerstache fashion axe cardigan flexitarian.

		img.photo-booth src="/img/photo-booth.png" /

		p
			| Biodiesel vice, literally ennui forage tacos you probably haven't heard of them kinfolk celiac DIY blog quinoa. Cliche ramps hella ugh, schlitz before they sold out marfa fanny pack wolf letterpress helvetica. Retro VHS cray, twee flannel locavore cred asymmetrical meggings keytar truffaut poutine venmo. pressed venmo locavore tofu organic. Microdosing leggings ennui tacos, kitsch trust fund pickled. Fingerstache fashion axe cardigan flexitarian.



/! Eagle Rock section
/! ---------------------------

.section.section--hero.eagle-rock.js--hero-resize
	.section__punchout
	.section__inner-wrapper
		.title-container
			p.section--hero__title data-text="Eagle Rock,"
				' Eagle Rock,
			p.section--hero__title data-text="Los Angeles"
				' Los Angeles

/! Location section
/! ---------------------------

.section.section--content.location

	.section__punchout

	.section__inner-wrapper

		h2 Ceremony and Reception

		p
			| SATURDAY, MAY 23, 2015
			| 5:00 - 11:00 PM

		p
			strong Center for the Arts Eagle Rock<br>
			| 2225 Colorado Blvd<br>
			| Los Angeles, CA 90041

		.map-placeholder
			img.map src="/img/map-test.png" /
			a.button-overlay href="#"
				button View map

		/! iframe.youtube-player type="text/html" width="640" height="390" src="http://www.youtube.com/embed/5pWXaPoKYHY" frameborder="0" allowFullScreen
