// Mixins
// Don't have a better place for this yet

// @include vertical-align();
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Typography

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,400italic);
@font-face {font-family:"ca-recape";
    src: url("/fonts/da6470da2d566f1ad804cbfa4beb5e26.eot"); /* IE9*/
    src: url("/fonts/da6470da2d566f1ad804cbfa4beb5e26.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/da6470da2d566f1ad804cbfa4beb5e26.woff") format("woff"), /* chrome、firefox */
    url("/fonts/da6470da2d566f1ad804cbfa4beb5e26.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/fonts/da6470da2d566f1ad804cbfa4beb5e26.svg#CARecapeW00-Regular") format("svg"); /* iOS 4.1- */
}

$base-font-family:'Open Sans', 'helvetica', sans-serif;
$heading-font-family: 'ca-recape', 'Montserrat', 'helvetica', sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// Customer spacer sizes
$spacer-xxs:rem(10);
$spacer-xs:rem(15);
$spacer-s:rem(20);
$spacer-m:rem(30);
$spacer-l:rem(60);
$spacer-xl:rem(100);

// Colors

$white: #ffffff;

$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$black:#222;

$dark-blue: #000033;

$gradient-pink-to-orange-1:#F53E7A;
$gradient-pink-to-orange-2:#F56058;
$gradient-pink-to-orange-3:#F57247;
$gradient-pink-to-orange-4:#F57F3A;
$gradient-pink-to-orange-5:#F59723;

// Font Colors
$base-font-color: $dark-blue;
$action-color: $gradient-pink-to-orange-1;

// Border
$base-border-color: $black;
$base-border: 1px solid $base-border-color;
$border-size-special:5px;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: .25s;
$base-timing: ease;
