p
  ' We met Freshman year at
  a href="http://oxy.edu" title="Occidental College" target="_blank"
    ' Occidental College
  ' through our mutual friends Brianna Bowman and Callie Burke. Jordan thought Justin was cute, and Justin thought Jordan was intimidatingly cool, but we wouldn’t get together until our Senior year. After a few years, a semester abroad each (Argentina for Jordan, The Netherlands for Justin), and more than a few classes together in our shared major, Justin got up the nerve to ask Jordan out during the fall of our Senior year. Our first date was at the
  a href="http://eaglerockmusicfestival.org/" title="Eagle Rock Music Festival" target="_blank"
    ' Eagle Rock Music Festival
  ' – a block away from the wedding venue – followed by a late night trip to our favorite taco truck.

img.graduation src="/img/graduation.jpg" /

p
  ' After college, we stayed in sunny LA where we discovered the passions that we wanted to turn into careers. Jordan found great fulfillment at
  a href="http://www.stjosephctr.org/" title="St. Joseph Center" target="_blank"
    ' St. Joseph Center
  ' as a case manager working with families facing homelessness. After four years there, she went back to school for her
  a href="http://luskin.ucla.edu/social-welfare" title="UCLA" target="_blank"
    ' Masters of Social Work at UCLA
  ' , where she will graduate in June 2016.

p
  ' Justin turned his twin passions for graphic design and being a nerd into a career in web design and development. He taught himself how to design apps and websites and bring them to life with code. He’s now working as a designer at a
  a href="http:carbonfive.com" title="Carbon Five" software studio in Santa Monica
  ' . He built this website!

img.photo-booth-2 src="/img/photo-booth-2.jpg" /

p
  ' All along the way, we supported each other as partners as we explored our interests and pursued our goals. We moved in together three years ago and built a happy home filled with art, good food, a succulent garden, and a cat named
  a href="https://www.instagram.com/p/_AqCKoiTjy/" title="Instagram" target="_blank"
    ' Zoe (who rules our world).
  ' We’ve travelled to visit friends in New York, made a few trips to hike and hear good music in Palm Desert, and Jordan introduced Justin to the beach. He’s warming up to it.

p
  ' Last summer, we went on vacation to explore the Pacific coast of Canada. By then, there was no doubt in our hearts that we wanted to spend the rest of our lives together. While tidepooling on the beach of Beacon Hill Park in Victoria, BC, Justin pulled Jordan aside and asked her to marry him. On her hand, Jordan wears her great-grandmother’s
  a href="https://www.instagram.com/p/8qk9cjK49n/" title="Grace Lee Instagram" target="_blank"
    ' stone set in a band we picked out together.
  ' Life is awesome.

p
  ' We are so excited to celebrate our happiness with our friends, family, and everyone we love. We hope you can join us!

img.photo-booth src="/img/photo-booth.jpg" /
