$stripe-size: $spacer-l;

footer {
	position:relative;
	display:block;
	background-color:$dark-blue;
}
.stripe-container {
	width:100%;
	display:block;
	margin:0 auto;

}

.stripe {
	width:100%;
	position:relative;
	height:$stripe-size;
	display:block;

	&:nth-child(1){
		background-color:$gradient-pink-to-orange-1;
	}
	&:nth-child(2){
		background-color:$gradient-pink-to-orange-2;
	}
	&:nth-child(3){
		background-color:$gradient-pink-to-orange-3;
	}
	&:nth-child(4){
		background-color:$gradient-pink-to-orange-4;
	}
	&:nth-child(5){
		background-color:$gradient-pink-to-orange-5;
	}
}

p.colophon {
	text-align:center;
	font-size:rem(12px);
	color:darken(white, 40%);
	display:block;
	width:100%;
	padding:$spacer-m $spacer-s;

	@include media($medium-screen) {
		padding:$spacer-m 0;
	}

	a {
		color:$gradient-pink-to-orange-4;
	}
}
