$stripe-size: 60px;

footer {
	position:relative;
}

.stripe-container {
	width:100%;
	display:block;
	top:$stripe-size;
}

.stripe {
	width:100%;
	position:relative;
	height:$stripe-size;
	display:block;
	
	&:nth-child(1){
		background-color:$gradient-pink-to-orange-1;
	}
	&:nth-child(2){
		background-color:$gradient-pink-to-orange-2;
	}
	&:nth-child(3){
		background-color:$gradient-pink-to-orange-3;
	}
	&:nth-child(4){
		background-color:$gradient-pink-to-orange-4;
	}
	&:nth-child(5){
		background-color:$gradient-pink-to-orange-5;
	}
}

