body {
	background-color:$dark-blue;
}

// Typography
// --------------------------------------------------

h1,
.h1 {
	font-size:rem(50px);
	font-size:16vw;

	@include media($medium-screen) {
		font-size:rem(100px);
		font-size:16vw;
	}

	@include media($desktop-huge) {
		font-size:rem(175px);
	}
}

h2 {
	font-size: rem(40);
	margin-bottom:$spacer-s;
	position:relative;

	&:after {
		content:'';
		width:$spacer-m;
		height:$border-size-special;
		background-color:$gradient-pink-to-orange-2;
		margin:($spacer-m - $spacer-xs) auto 0 auto;
		display:block;
		position:relative;

	}

	@include media($medium-screen) {
		font-size:rem(80px);
		margin-bottom:$spacer-m;
	}
}

h3 {
	font-size:rem(14px);
	font-family: $base-font-family;
	text-transform: uppercase;
	color:$medium-gray;
}

p {
	margin-bottom:$spacer-s;
	line-height:1.5;
  strong {
    font-weight: 700;
  }
	@include media($medium-screen) {
		margin-bottom:$spacer-m;
	}

	a {
		font-weight: 700;
		color:inherit;
		border-bottom:2px solid $gradient-pink-to-orange-2;
		&:hover {
			color:$gradient-pink-to-orange-2;
		}
	}
}

a.breadcrumb {
	margin-bottom:$spacer-l;
	display:block;
	cursor:pointer;
	@include transition(none);
	&:hover {
		text-decoration:underline;
	}
	&:last-child {
		margin-top:$spacer-l;
	}
}

img,
iframe {
	display:block;
	margin:0 auto $spacer-s auto;
	@include media($medium-screen) {
		margin-bottom:$spacer-m;
	}
}

form {
  @include span-columns(12);

  @include media($medium-screen) {
    font-size:rem(18px);
    @include span-columns(8);
    @include shift(2);
  }
}

// General section styling
// --------------------------------------------------
.section {

	position:relative;
	background-color:white;

	.section__inner-wrapper {

		position:relative;
		height:100%;

		@include outer-container;
		text-align:center;
		padding:$spacer-m $spacer-s;

		@include media($medium-screen) {
			padding:$spacer-l $spacer-m;
		}

		@include media($large-screen) {
			padding:$spacer-xl 0;
		}
	}

	.section__punchout {
		right:-50%;
		top:0;
		display:inline-block;
		position:relative;
		width:100%;

		&:after {
			content:'';
			display:block;
			background-color:$white;
			height:2*($spacer-m);
			width:200%;
			padding:0 100px;
			margin:0 auto;
			position:absolute;
			top:-($spacer-m);
			left:-100%;
			@include transform(rotate(-3deg));
			-webkit-backface-visibility:hidden;
				backface-visibility: hidden;

			@include media($medium-screen) {
				height:2*($spacer-l);
				top:-($spacer-l);
			}
			@include media($large-screen) {
				height:2*($spacer-xl);
				top:-($spacer-xl);
			}
			@include media($desktop-huge) {
			}

		}

	}

}

.section--hero {

	@include media($medium-screen) {
		// padding:$spacer-l 0;
	}
	.section__inner-wrapper {
		padding:$spacer-m 0;
	}

	.title-container {
		color:white;
		margin:0 auto;
		padding:$spacer-s 0;

		&__inner {
			padding:$spacer-m;
		}

		.section--hero__title {
			@extend .h1;
			position:relative;
			$z-index:1;
			z-index:$z-index;

			@include media($medium-screen) {
				line-height:1;
				margin-bottom:rem(30px);

				&:after {
					content: attr(data-text);
					background-color:transparent;
					color: $gradient-pink-to-orange-4;
				  left: 0;
					right: -5px;
				  position: absolute;
				  top: 5px;
					z-index:-$z-index;
					height:auto;
					width:auto;
				}
			}
		}

		.section--hero__subtitle {
			font-size:rem(22px);
			position:relative;
			$z-index:2;
			z-index:$z-index;
			letter-spacing: rem(1);

			@include media($medium-screen) {
				font-size:rem(30px);
			}

			@include media($desktop-huge) {
				text-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
			}
		}
	}
}

.section--content {
	background-color:white;
	min-height:300px;
}

// Intro section
// --------------------------------------------------

.intro {

	background-color: $dark-blue;

	&:before {
		content:'';
		display:block;
		position:absolute;
		top:0;
		width:100%;
		height:$spacer-xl;
		@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);

		@include media($medium-screen) {
			display:none;
		}
	}

	.section__inner-wrapper {
		padding-top:$spacer-xl;
		padding-bottom:0;

		@include media($medium-screen) {
			padding-bottom:2 * $spacer-xl;
		}
	}

	.title-container {
		background-color:transparent;
		position:relative;

		@include media($medium-screen) {
			padding:$spacer-s;
			@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);
		}

		&__inner {
			background-color:$dark-blue;
		}

		img {
			border:10px solid white;
			margin-top:-$spacer-xl;
			margin-bottom:$spacer-l - $spacer-m;
			@include transform(rotate(2deg));
			-webkit-backface-visibility:hidden;
				backface-visibility: hidden;
			box-shadow:0 1px 10px rgba(0,0,0,.75);

			@include media($medium-screen) {
				height:rem(460px);
				height:35vh ;
				border:20px solid white;
			}

			@include media($desktop-huge) {
				border:30px solid white;
				height:50vh;
			}
		}
	}

	.section--hero__title {
		&:after {
			content:'';
			display:block;
			width:100%;
			background-color: $gradient-pink-to-orange-4;
			height:10px;
		}
	}

	.section--hero__subtitle {
		font-weight:700;
		&:nth-of-type(1) {
			margin-bottom:rem($small-spacing);
		}
	}

	$leaf-1-width:500px;
	$leaf-1-height:1198px;

	$leaf-2-width:500px;
	$leaf-2-height:1252px;

	$leaf-3-width:500px;
	$leaf-3-height:721px;

	.leaf {

		position:absolute;
		display:none;

		@include media($desktop-huge) {
			display:block;
		}
	}

	.leaf--1 {

		$leaf-width: $leaf-1-width;
		$leaf-height: $leaf-1-height;

		background:url(/img/leaf-left--1.png) center center no-repeat transparent;
		background-size:contain;
		bottom:rem(0);
		left:rem(40px);

		width: $leaf-width / 3;
		height:$leaf-height / 3;

		@include transform(rotate(20deg));
		-webkit-backface-visibility:hidden;
			backface-visibility: hidden;

		@include media($desktop-huge) {
			width: $leaf-width / 2;
			height:$leaf-height / 2;
		}
	}

	.leaf--2 {

		$leaf-width: $leaf-2-width;
		$leaf-height: $leaf-2-height;

		background:url(/img/leaf-left--2.png) center center no-repeat transparent;
		background-size:contain;
		bottom:rem(-60px);
		left:18.75rem;

		width: $leaf-width / 3;
		height:$leaf-height / 3;

		@include transform(rotate(-9deg));
		-webkit-backface-visibility:hidden;
			backface-visibility: hidden;

		@include media($desktop-huge) {
			width: $leaf-width / 2;
			height:$leaf-height / 2;
		}
	}

	.leaf--3 {

		$leaf-width: $leaf-3-width;
		$leaf-height: $leaf-3-height;

		background:url(/img/leaf-right.png) center center no-repeat transparent;
		background-size:contain;
		bottom:rem(0);
		right:rem(0);

		width: $leaf-width / 3;
		height:$leaf-height / 3;

		@include transform(rotate(0deg));
		-webkit-backface-visibility:hidden;
			backface-visibility: hidden;

		@include media($desktop-huge) {
			width: $leaf-width;
			height:$leaf-height;
		}
	}
}

// Story section
// --------------------------------------------------

.story {
	p {
		text-align:left;
		@include span-columns(12);
		@include clearfix;

		@include media($medium-screen) {
			font-size:rem(18px);
			@include span-columns(8);
			@include shift(2);
		}
	}

	img {
		padding:0 0 $spacer-m 0;
		margin:0 auto;
		@include media($medium-screen) {
			padding:$spacer-m 0 $spacer-l 0;
		}
		&:last-child {
			padding-bottom:0;
		}
	}

	img.photo-booth {
		max-width:rem(200px);
		width:100%;
	}

	img.graduation {
		max-width:rem(500px);
		width:100%;
	}
}

// Eagle Rock section
// --------------------------------------------------

.eagle-rock {
	background:url("/img/cfaer-outside.jpg") center center no-repeat;
	background-size:cover;

	.title-container {
		@include vertical-align();
		// @include media($desktop-huge) {
		// 	@include vertical-align();
		// }
	}

	.title-container {
		// We want the text shadow in this section only
		.section--hero__title {
			display:inline-block;
			padding:3vw;
			text-shadow: 1px 1px 3px rgba(0, 0, 0, .35);
			@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);

			@include media($medium-screen) {
				padding:0;
				display:block;
				background:none;

				&:after {
					text-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
					color:$gradient-pink-to-orange-2;
				}
			}
		}
	}
}

// Location section
// --------------------------------------------------

.location {

	.location__info {
		@include outer-container;
		@include media($medium-screen) {
			font-size:rem(18px);
		}
	}

	.tips {
		@include span-columns(12);
		@include clearfix;

		@include media($medium-screen) {
			@include span-columns(8);
			@include shift(2);
		}

		span {
				text-transform: uppercase;
				color: $medium-gray;
		}
	}

	.map-placeholder {
		background-color:$light-gray;
		text-align:center;
		display:block;
		width:100%;
		max-width:500px;
		position:relative;
		margin:0 auto;

		img {
			-webkit-filter:grayscale(100%);
				filter:grayscale(100%);
			transition: all $base-duration $base-timing;
		}

		&:hover {
			img {
				-webkit-filter:grayscale(0);
					filter:grayscale(0);
			}
		}

		.button-overlay {
			display:flex;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			align-items: center;
		  justify-content: center;
			cursor:pointer;
			@extend .hover-style--large;

			button {
				display: block;

			}

		}
	}
}
