// General section styling
// --------------------------------------------------
.section {

	position:relative;

	.section__inner-wrapper {

		position:relative;
		height:100%;

		@include outer-container;
		text-align:center;
		padding:$spacer-m $spacer-s;

		@include media($medium-screen) {
			padding:$spacer-l $spacer-m;
		}

		@include media($large-screen) {
			padding:$spacer-xl 0;
		}

			img {
				display:block;
				margin:0 auto;
			}

			iframe {
				margin:0 auto;
				display:block;
			}
	}

	.section__punchout {
		right:-50%;
		top:0;
		display:inline-block;
		position:relative;
		width:100%;

		&:after {
			content:'';
			display:block;
			background-color:$white;
			height:2*($spacer-m);
			width:200%;
			padding:0 100px;
			margin:0 auto;
			position:absolute;
			top:-($spacer-m);
			left:-100%;
			@include transform(rotate(-3deg));

			@include media($medium-screen) {
				height:2*($spacer-l);
				top:-($spacer-l);
			}
			@include media($large-screen) {
				height:2*($spacer-xl);
				top:-($spacer-xl);
			}
			@include media($desktop-huge) {
			}

		}

	}

}

.section--hero {

	@include media($medium-screen) {
		// padding:$spacer-l 0;
	}
	.section__inner-wrapper {
		padding:$spacer-m 0;
	}

	.title-container {
		color:white;
		margin:0 auto;
		padding:$spacer-s 0;

		&__inner {
			padding:$spacer-m;
		}

		.section--hero__title {
			@extend .h1;
			position:relative;
			font-size:rem(50px);
			font-size:16vw;
			$z-index:1;
			z-index:$z-index;

			@include media($medium-screen) {
				line-height:1;
				font-size:rem(100px);
				font-size:16vw;
				margin-bottom:rem(30px);

				&:after {
					content: attr(data-text);
					background-color:transparent;
					color: $gradient-pink-to-orange-4;
				  left: 0;
					right: -5px;
				  position: absolute;
				  top: 5px;
					z-index:-$z-index;
					height:auto;
					width:auto;
				}
			}

			@include media($desktop-huge) {
				font-size:rem(175px);
			}
		}

		.section--hero__subtitle {
			font-size:rem(30px);
			position:relative;
			$z-index:2;
			z-index:$z-index;

			@include media($desktop-huge) {
				text-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
			}
		}
	}
}

.section--content {
	background-color:white;
	min-height:300px;
}

// Intro section
// --------------------------------------------------

.intro {

	background-color: $dark-blue;

	&:before {
		content:'';
		display:block;
		position:absolute;
		top:0;
		width:100%;
		height:$spacer-xl;
		@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);

		@include media($medium-screen) {
			display:none;
		}
	}

	.section__inner-wrapper {
		padding-top:$spacer-xl;
		padding-bottom:0;

		@include media($medium-screen) {
			padding-bottom:2 * $spacer-xl;
		}
	}

	.title-container {
		background-color:transparent;
		position:relative;

		@include media($medium-screen) {
			padding:$spacer-s;
			@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);
		}

		&__inner {
			background-color:$dark-blue;
		}

		img {
			border:10px solid white;
			margin-top:-$spacer-xl;
			margin-bottom:$spacer-l - $spacer-m;
			@include transform(rotate(2deg));
			-webkit-backface-visibility:hidden;
				backface-visibility: hidden;
			box-shadow:0 1px 10px rgba(0,0,0,.75);

			@include media($medium-screen) {
				border:30px solid white;
			}
		}
	}

	.section--hero__title {
		&:after {
			content:'';
			display:block;
			width:100%;
			background-color: $gradient-pink-to-orange-4;
			height:10px;
		}
	}

	$leaf-1-width:500px;
	$leaf-1-height:1198px;

	$leaf-2-width:500px;
	$leaf-2-height:1252px;

	$leaf-3-width:500px;
	$leaf-3-height:721px;

	.leaf {

		position:absolute;
		display:none;

		@include media($desktop-huge) {
			display:block;
		}
	}

	.leaf--1 {

		$leaf-width: $leaf-1-width;
		$leaf-height: $leaf-1-height;

		background:url(/img/leaf-left--1.png) center center no-repeat transparent;
		background-size:contain;
		bottom:rem(0);
		left:rem(40px);

		width: $leaf-width / 3;
		height:$leaf-height / 3;

		@include transform(rotate(20deg));
		-webkit-backface-visibility:hidden;
			backface-visibility: hidden;

		@include media($desktop-huge) {
			width: $leaf-width / 2;
			height:$leaf-height / 2;
		}
	}

	.leaf--2 {

		$leaf-width: $leaf-2-width;
		$leaf-height: $leaf-2-height;

		background:url(/img/leaf-left--2.png) center center no-repeat transparent;
		background-size:contain;
		bottom:rem(-60px);
		left:18.75rem;

		width: $leaf-width / 3;
		height:$leaf-height / 3;

		@include transform(rotate(-9deg));
		-webkit-backface-visibility:hidden;
			backface-visibility: hidden;

		@include media($desktop-huge) {
			width: $leaf-width / 2;
			height:$leaf-height / 2;
		}
	}

	.leaf--3 {

		$leaf-width: $leaf-3-width;
		$leaf-height: $leaf-3-height;

		background:url(/img/leaf-right.png) center center no-repeat transparent;
		background-size:contain;
		bottom:rem(0);
		right:rem(0);

		width: $leaf-width / 3;
		height:$leaf-height / 3;

		@include transform(rotate(0deg));
		-webkit-backface-visibility:hidden;
			backface-visibility: hidden;

		@include media($desktop-huge) {
			width: $leaf-width;
			height:$leaf-height;
		}
	}
}

// Story section
// --------------------------------------------------

.story {
}

// Eagle Rock section
// --------------------------------------------------

.eagle-rock {
	background:url("/img/cfaer-outside.jpg") center center no-repeat;
	background-size:cover;

	.title-container {
		@include vertical-align();
		// @include media($desktop-huge) {
		// 	@include vertical-align();
		// }
	}

	// We want the text shadow in this section only
	.section--hero__title {
		display:inline-block;
		padding:3vw;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, .35);
		@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);

		@include media($medium-screen) {
			padding:0;
			display:block;
			background:none;

			&:after {
				text-shadow: 2px 2px 5px rgba(0, 0, 0, .35);
			}
		}
	}
}

// Location section
// --------------------------------------------------

.location {

	.map-placeholder {
		background-color:$light-gray;
		text-align:center;
		display:block;
		width:100%;
		max-width:500px;
		position:relative;
		margin:0 auto;

		img {
			-webkit-filter:grayscale(100%);
				filter:grayscale(100%);
			transition: all $base-duration $base-timing;
		}

		&:hover {
			img {
				-webkit-filter:grayscale(0);
					filter:grayscale(0);
			}
		}

		.button-overlay {
			display:flex;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			align-items: center;
		  justify-content: center;
			cursor:pointer;

			button {
				display: block;
			}

			&:hover {
				button {
					@extend .hover-style;
				}
			}

		}

	}
}
