// General section styling
// --------------------------------------------------
.section {

	position:relative;

	.section__inner-wrapper {

		position:relative;

		@include outer-container;
		text-align:center;
		padding:$spacer-m $spacer-s;

		@include media($tablet){
			padding:$spacer-l $spacer-m;
		}

		@include media($desktop){
			padding:$spacer-xl 0;
		}

			img {
				display:block;
				margin:0 auto;
			}

			iframe {
				margin:0 auto;
				display:block;
			}
	}

	.section__punchout {
		right:-50%;
		top:0;
		display:inline-block;
		position:relative;
		width:100%;

		&:after {
			content:'';
			display:block;
			background-color:$white;
			height:2*($spacer-m);
			width:200%;
			padding:0 100px;
			margin:0 auto;
			position:absolute;
			top:-($spacer-m);
			left:-100%;
			-webkit-transform:rotate(-3deg);
				-moz-transform:rotate(-3deg);
					-ms-transform:rotate(-3deg);
						transform:rotate(-3deg);



			@include media($tablet) {
				height:2*($spacer-l);
				top:-($spacer-l);
			}
			@include media($desktop) {
				height:2*($spacer-xl);
				top:-($spacer-xl);
			}
			@include media($desktop-huge) {


			}

		}

	}

}

.section--hero {
	min-height:900px;
}

.section--content {

	background-color:white;
	min-height:300px;



}

// Intro section
// --------------------------------------------------

.intro {

	background-color: $dark-blue;

	.section__inner-wrapper {
		height:100%;
		padding:0 $spacer-s;
	}

	.title-container {

		color:white;
		margin:0 auto;
		padding:$spacer-s;
		// border:$border-size-special solid white;
		@include linear-gradient($gradient-pink-to-orange-1, $gradient-pink-to-orange-5);

		@include media($medium-screen) {
			@include vertical-align();
		}

		&__inner {
			background-color:$dark-blue;
			padding:$spacer-m;
		}

		img {
			border:30px solid white;
			border-bottom-width: 40px;
			margin-top:-$spacer-xl;
			margin-bottom:$spacer-l;
			@include transform(rotate(2deg));
			-webkit-backface-visibility:hidden;
				backface-visibility: hidden;
			box-shadow:0 1px 10px rgba(0,0,0,.75);
		}

		h1 {
			text-transform: uppercase;

			@include media($medium-screen) {
				font-size:rem(60px);
			}
		}

		p {
			font-size:rem(30px);
		}

	}
}

// Story section
// --------------------------------------------------

.story {
}

// Eagle Rock section
// --------------------------------------------------

.eagle-rock {
	background:url("/img/cfaer-outside.jpg") center center no-repeat;
	background-size:cover;
}

// Location section
// --------------------------------------------------

.location {

	.map-placeholder {
		background-color:$light-gray;
		text-align:center;
		display:block;
		width:100%;
		max-width:500px;
		position:relative;
		margin:0 auto;

		img {
			-webkit-filter:grayscale(100%);
				filter:grayscale(100%);
			transition: all $base-duration $base-timing;
		}

		&:hover {
			img {
				-webkit-filter:grayscale(0);
					filter:grayscale(0);
			}
		}

		.button-overlay {
			display:flex;
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			align-items: center;
		  justify-content: center;
			cursor:pointer;

			button {
				display: block;
			}

			&:hover {
				button {
					@extend .hover-style;
				}
			}

		}

	}

}


// @include outer-container;
// aside { @include span-columns(3); }
// article { @include span-columns(9); }
